* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-container {
  background-color: rgb(17, 24, 39);
  min-height: 100vh;
  padding: 1px 1px;
  color: rgb(215 220 218);
  /* text-shadow:0px 0px 3px black; */
}

.header {
  background: linear-gradient(135deg, #172a74, #21a9af);
  background-color: #184e8e;
  padding-bottom: 80px;
  width: 100%;
  max-height: max-content;
  display: block;
  color: #efb22d;
  font-family: "Source Sans Pro", sans-serif;
}

.mainBox {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upper {
  font-size: 1.3rem;
  height: 10vh;
  display: flex;
  padding-left: 80px;
  align-items: center;
}
.main {
  text-align: center;
  margin-top: 0px;
  color: rgb(215 220 218);
}

.main p {
  font-size: 1.5rem;
  font-weight: 600;
}

.click {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.left,
.right {
  height: 110px;
  width: 300px;
  padding: 15px;
  background-color: #1f2937;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.right_code {
  grid-column-start: 1;
  grid-row-start: 2;
}

.left_code,
.right_code {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: min-content;
  background-color: #1f2937;
  border-radius: 10px;
  margin: auto;
  padding: 10px;
}

.left_code p,
.right_code p {
  margin-top: -5px;
  font-size: 18px;
  color: rgb(215 220 218);
}

.hex_code {
  margin-top: 10px;
  color: rgb(215 220 218);
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

a {
  color: white;
  text-decoration: none;
  text-shadow:0px 0px 3px black;
  font-size: 1rem;
}

button {
  --white: rgb(215 220 218);
  font-size: 15px;  
  padding: 1rem;
  letter-spacing: 0.06em;
  position: relative;
  font-family: inherit;
  border-radius: 0.6em;
  overflow-x: hidden;
  transition: all 0.3s;
  line-height: 0rem;  
  border: 2px solid var(--white);
  background: linear-gradient(
    to right,
    rgba(27, 253, 156, 0.1) 1%,
    transparent 40%,
    transparent 60%,
    rgba(27, 253, 156, 0.1) 100%
  );
  color: var(--green);
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4),
    0 0 9px 3px rgba(27, 253, 156, 0.1);
  margin-top: 2%;
  
}

button:hover {
  color: #fff;
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6),
    0 0 9px 3px rgba(27, 253, 156, 0.2);
}

button:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform 0.4s ease-in-out;
  background: linear-gradient(
    to right,
    transparent 1%,
    rgba(27, 253, 156, 0.1) 40%,
    rgba(27, 253, 156, 0.1) 60%,
    transparent 100%
  );
}

button:hover:before {
  transform: translateX(15em);
}

.bg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px 20px;
  text-align: center;
  display: block;
  padding: 2% 5%;
  line-height: 1.75;
  font-weight: -500;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  border-radius: 10px;
}

.text {
  border-radius: 10px;
  padding: 2% 5%;
  padding: 2% 5%;
}

#two,
#message {
  margin-top: 15px;
  margin-bottom: 50px;
}

#message {
  border-radius: 10px;
  background-color: #1f2937;
  padding: 2% 5%;
  color: white;
  font-weight: 600;
}



/*footer styles*/
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block:1.5rem;
  background-color: rgb(17, 24, 39);
  font-family: "Source Sans Pro", sans-serif;
}

.footside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
  width: 100%;
}

.footside2 {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.footname a {
  color: rgb(215 220 218);
}

.footer_name a {
  font-size: 1em;
}

.footer_list {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.footer_item a{
  color: rgba(255,255,255,0.9);

}

.social {
  display: flex;
  gap: 1rem;
}

.social_icon {
  background-color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social_icon img {
  width: 15px;
  height: 15px;
}

.footer_text {
  font-size: 13px;
}

@media (max-width: 672px) {
  .click {
    flex-direction: column;
  }
  .right_code {
    margin-top: 15px;
  }
  .left,
  .right {
    height: 110px;
    width: 300px;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .hex_code {
    margin-top: 10px;
    margin-left: 5px;
    color: rgb(215 220 218);
  }
  .left_code,
  .right_code {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: #1f2937;
    border-radius: 10px;
  }
  .mainBox {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .right_code {
    grid-column-start: auto;
    grid-row-start: 2;
  }
  .bg {
    grid-column-start: auto;
    grid-row-start: 3;
  }
  .click {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }  
}
@media (max-width: 780px){
  .link{
    margin-top: 0%;
  }
}
@media (max-width: 375px) {

  .left_code,
  .right_code, .left, .right {
    max-width: 90%;
  }
}
